<div id="tasks">
  <% @tasks.each do |task| %>
    <div class="task">
      <h2 class="title">
        <%= link_to task.title, task %>
      </h2>
      <p class="date">
        For
        <%= task.project.name %>
      </p>
      <p class="date">
        Published
        <%= time_ago_in_words(task.created_at) %>
        ago to
        <%= task.project.name %>
      </p>
    </div>
  <% end %>
</div>
