<%= current_user.email %>
<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
  <% if params[:status].nil? || params[:status] == Order.statuses[1] %>
    <br>
    Title: <input type="text" id="title" maxlength=15><br>
    Description: <input type="text" id="desc">
    <button onclick="addSquare('todo')">TODO</button>
    <button onclick="addSquare('inProg')">IN PROGRESS</button>
    <button onclick="addSquare('recent')">COMPLETED</button>
    <div id="canvasContainer" style="position: relative; width: 1120px; height: 610px; overflow: auto;">
    <canvas id="background" width="1100" height="600"
       style="position: absolute; z-index: 0;"></canvas>
     <canvas id="myCanvas" width="1100" height="600"
       style="position: absolute; z-index: 1;"></canvas>
    </div>
    <!-- Put tasks in a dummy HTML element. -->
    <div hidden>
    <% current_user.tasks.each do |task| %>
      <p class="task">
        <%= task.title %>
      </p>
    <% end %>
    <div>


    <script src = "app/assets/javascripts/kanban.js">


    </script>

  <% end %>
<% end %>
