<div style = "margin:50px"
<h1>Account</h1>
<form>
  <center>
    <input type="file" accept="image/*" onchange="picChange(event)"/>
    <canvas id="capturedPhoto" width="500" height="400">
</canvas>
  </center>
  <p>Username: </p>
  <p>Games Posted: </p>
    <button type="button">Add Game</button>
  <p>Biography: </p>
    <button type="button" onclick = "<input type = "submit"" >Edit Biography</button>
</div>
