<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.menu {
  display: none;
}

#rcorners1 {
  box-sizing: content-box;
  border-radius: 25px;
  background: #192231;
  padding: 15px;

}
</style>

<body>

<header class="w3-display-container w3-grayscale-min" id="home">
  <%= image_tag('8bitCity.jpg', draggable: "false", id: "drag1") %>

  <div class="w3-display-middle w3-center">
 <span class="w3-text-white" style="font-size:90px"><p id="rcorners1">Game<b><font color="#0EBF1E">Hub</font></b></p></span>
  </div>

</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about" style="background-color: #002A52">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
    <p><font color="#E5E5E5">Welcome to GameHub: a community where developers of all skill levels and backgrounds can come together to turn their dreams into reality.</font></p>
    <p><font color="#E5E5E5">Everyone at some point has a groundbreaking idea for a game,
the one that’ll change the entire genre and take the gaming world by storm. But unfortunately, most of these ideas die untouched; as anyone who has tried will know,
making games is an intimidating process. Not only does it require a diverse set of unrelated
skills that take time to learn, but also a great deal of perseverance and discipline over a to see any product. Here is where GameHub steps in.</font></p>
    <div class="w3-panel w3-leftbar w3-#002A52">
      <p><i><font color="#E5E5E5">Artists, coders, writers, thinkers, creators, dreamers</font></i></p>
      <p><font color="#E5E5E5">A place where we can all come together</font></p>
    </div>

  </div>
</div>

</div>

</body>
</html>
