#Homepage - Shane

<h1>Hello</h1>

<canvas id="myCanvas" width="800" height="600" style="border:1px solid #d3d3d3; margin:10%;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.moveTo(0,0);
ctx.lineTo(800,600);
ctx.stroke();
</script>
