<div class="sidenav">
  <%= link_to "Back to Games", project_index_path, class: "back_link"  %>
  <br/>
  <%= link_to "Info", @project, class: "info_link" %>
  <br/>
  <%= link_to "Available Tasks", project_available_tasks_path(@project), method: :get, class: "available_tasks_link" %>
  <br/>
  <% if @project.team_members.include? current_user.id %>
    <%= link_to "#{@project.name}'s Hub", project_hub_path(@project), method: :get, class: "hub_link" %>
  <% end %>
</div>
