<div id="projects">
  <%= link_to "New Project", new_project_path, class: "button" %>
  <% @projects.each do |project| %>
    <div class="project">
      <h2 class="title">
        <%= link_to project.name, project %>
      </h2>
      <p class="date">
        Published
        <%= time_ago_in_words(project.created_at) %>
        ago by
        <%= project.user.email %>
      </p>
    </div>
  <% end %>
</div>
