/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Lato', sans-serif;
	color:#E5E5E5;
	background: #131c29;
}

header {
	img{
		width: 100%;
	}
}

a:link, a:visited {
	color: #59a86a;
	text-decoration: none;
}

a:hover {
	color: #265373;
	text-decoration: none;
}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: 0 auto;
	background: #0A1627;
	#logo {
		float: left;
		a {
			font-family: 'Lato', sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.2rem;
			text-decoration: none;
			color: #59a86a;
		}
	}
	#buttons {
		float: right;
		a {
			line-height: 60px;
			padding: .5em 1em;
			color: #59a86a;
			text-decoration: none;
			font-weight: 100;
		}
	}
}

form{
	border: none;
}

#posts {
	background: #192231;
	padding: 2em 5%;
	border-radius: .5em;

	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		 }
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

#postForm{
	textarea {
	  width: 100%;
	  height: 150px;
	  padding: 12px 20px;
	  box-sizing: border-box;
	  border: 2px solid #3F516B;
	  border-radius: 4px;
	  background-color: #3F516B;
	  font-size: 16px;
	  resize: none;
	}
}

a.button {
	color: white;
	border: none;
	background-color:#59a86a;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
}

#post_content {
	background: #192231;
	padding: 4em 5%;
	border-radius: 1em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		padding-top: .5em;
		color: #397CAC;
		margin-top: 0;
	}
	p {
		color: #B2BAC2;
		font-size: 0.9em;
		line-height: 1.5;
		font-size: 100;
	}
	button {
		color: #E5E5E5;
		background-color: #59a86a;
		border: none;
		padding: .5em 1em;
		border-radius: 0.2em;
		text-decoration: none;
		margin-right: 2%;
	}
	#comments {
		.comment {
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
			width: 75%;
			float: left;
			}

			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: #397CAC;
				margin-top: 0.5rem;
				font-size: 0.6rem;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
}
#project_content {
	background: #192231;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		padding-top: .5em;
		color: #59a86a;
		margin-top: 0;
	}
	h2{
		color: #59a86a;
	}
	p {
		color: #B2BAC2;
		font-size: 0.9em;
		line-height: 1.5;
		font-size: 100;
	}
	button {
		color: #E5E5E5;
		background-color: #59a86a;
		border: none;
		padding: .5em 1em;
		border-radius: 0.2em;
		text-decoration: none;
		margin-right: 2%;
	}
}

#projects {
				background: #192231;
				padding: 2em 5%;
				border-radius: .5em;
				.project {
					margin: 1em 0;
					padding: 1em 0;
					border-bottom: 1px solid #D1d1d1;
					.title {
						margin: 0;
						a {
							color: #397CAC;
							text-decoration: none;
							font-weight: 100;
							font-size: 1.25rem;
						}
					}
					.date {
						margin-top: .25rem;
						font-size: 0.9rem;
						color: #B2BAC2;
					}
				}
}

select{
	margin: 10px;
	border: none;
	background: #3F516B;
}
input[type=submit]{
	background: #59a86a;
}
